security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

    firewalls:
        login:
            pattern: ^/api/login
            stateless: true
            json_login:
                check_path: /api/login
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            stateless: true
            jwt: ~

    access_control:
        # --- REGLAS PÚBLICAS ---
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/contact$, methods: [POST], roles: PUBLIC_ACCESS }
        - { path: ^/api/news$, methods: [GET], roles: PUBLIC_ACCESS }
        - { path: ^/api/recover-password, roles: PUBLIC_ACCESS }  

        # --- REGLAS PRIVADAS ---
        # Bloquea cualquier otra acción en contacto o noticias (GET, PUT, DELETE)
        - { path: ^/api/contact, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/news, roles: IS_AUTHENTICATED_FULLY }
        # Bloqueo total de cualquier otra ruta /api
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }